.Food{
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    background: whitesmoke;
}
.area {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}
.addr{
    font-weight: normal;
    font-size: medium;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.menu {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.price {
    font-weight: bold;
}